:root {
    --space-between-desktop: 0px;
    --space-between-tablet: 0px;
    --space-between-mobile-landscape: 0px;
    --space-between-mobile-portrait: 0px;
  }
  
  @media (min-width: 992px) {
    .swiper[swiperSpaceBetweenDesktop="0"] { --space-between-desktop: 0px; }
    .swiper[swiperSpaceBetweenDesktop="1"] { --space-between-desktop: 1px; }
    .swiper[swiperSpaceBetweenDesktop="2"] { --space-between-desktop: 2px; }
    .swiper[swiperSpaceBetweenDesktop="3"] { --space-between-desktop: 3px; }
    .swiper[swiperSpaceBetweenDesktop="4"] { --space-between-desktop: 4px; }
    .swiper[swiperSpaceBetweenDesktop="5"] { --space-between-desktop: 5px; }
    .swiper[swiperSpaceBetweenDesktop="6"] { --space-between-desktop: 6px; }
    .swiper[swiperSpaceBetweenDesktop="7"] { --space-between-desktop: 7px; }
    .swiper[swiperSpaceBetweenDesktop="8"] { --space-between-desktop: 8px; }
    .swiper[swiperSpaceBetweenDesktop="9"] { --space-between-desktop: 9px; }
    .swiper[swiperSpaceBetweenDesktop="10"] { --space-between-desktop: 10px; }
    .swiper[swiperSpaceBetweenDesktop="11"] { --space-between-desktop: 11px; }
    .swiper[swiperSpaceBetweenDesktop="12"] { --space-between-desktop: 12px; }
    .swiper[swiperSpaceBetweenDesktop="13"] { --space-between-desktop: 13px; }
    .swiper[swiperSpaceBetweenDesktop="14"] { --space-between-desktop: 14px; }
    .swiper[swiperSpaceBetweenDesktop="15"] { --space-between-desktop: 15px; }
    .swiper[swiperSpaceBetweenDesktop="16"] { --space-between-desktop: 16px; }
    .swiper[swiperSpaceBetweenDesktop="17"] { --space-between-desktop: 17px; }
    .swiper[swiperSpaceBetweenDesktop="18"] { --space-between-desktop: 18px; }
    .swiper[swiperSpaceBetweenDesktop="19"] { --space-between-desktop: 19px; }
    .swiper[swiperSpaceBetweenDesktop="20"] { --space-between-desktop: 20px; }
    .swiper[swiperSpaceBetweenDesktop="20"] { --space-between-desktop: 20px; }
    .swiper[swiperSpaceBetweenDesktop="25"] { --space-between-desktop: 25px; }
    .swiper[swiperSpaceBetweenDesktop="30"] { --space-between-desktop: 30px; }
    .swiper[swiperSpaceBetweenDesktop="35"] { --space-between-desktop: 35px; }
    .swiper[swiperSpaceBetweenDesktop="40"] { --space-between-desktop: 40px; }
    .swiper[swiperSpaceBetweenDesktop="45"] { --space-between-desktop: 45px; }
    .swiper[swiperSpaceBetweenDesktop="50"] { --space-between-desktop: 50px; }
    .swiper[swiperSpaceBetweenDesktop="55"] { --space-between-desktop: 55px; }
    .swiper[swiperSpaceBetweenDesktop="60"] { --space-between-desktop: 60px; }
    .swiper[swiperSpaceBetweenDesktop="65"] { --space-between-desktop: 65px; }
    .swiper[swiperSpaceBetweenDesktop="70"] { --space-between-desktop: 70px; }
    .swiper[swiperSpaceBetweenDesktop="75"] { --space-between-desktop: 75px; }
    .swiper[swiperSpaceBetweenDesktop="80"] { --space-between-desktop: 80px; }
    .swiper[swiperSpaceBetweenDesktop="85"] { --space-between-desktop: 85px; }
    .swiper[swiperSpaceBetweenDesktop="90"] { --space-between-desktop: 90px; }
    .swiper[swiperSpaceBetweenDesktop="95"] { --space-between-desktop: 95px; }
    .swiper[swiperSpaceBetweenDesktop="100"] { --space-between-desktop: 100px; }
    .swiper[swiperSpaceBetweenDesktop="100"] { --space-between-desktop: 100px; }
    .swiper[swiperSpaceBetweenDesktop="110"] { --space-between-desktop: 110px; }
    .swiper[swiperSpaceBetweenDesktop="120"] { --space-between-desktop: 120px; }
    .swiper[swiperSpaceBetweenDesktop="130"] { --space-between-desktop: 130px; }
    .swiper[swiperSpaceBetweenDesktop="140"] { --space-between-desktop: 140px; }
    .swiper[swiperSpaceBetweenDesktop="150"] { --space-between-desktop: 150px; }
    .swiper[swiperSpaceBetweenDesktop="160"] { --space-between-desktop: 160px; }
    .swiper[swiperSpaceBetweenDesktop="170"] { --space-between-desktop: 170px; }
    .swiper[swiperSpaceBetweenDesktop="180"] { --space-between-desktop: 180px; }
    .swiper[swiperSpaceBetweenDesktop="190"] { --space-between-desktop: 190px; }
    .swiper[swiperSpaceBetweenDesktop="200"] { --space-between-desktop: 200px; }
    .swiper[swiperSpaceBetweenDesktop="210"] { --space-between-desktop: 210px; }
    .swiper[swiperSpaceBetweenDesktop="220"] { --space-between-desktop: 220px; }
    .swiper[swiperSpaceBetweenDesktop="230"] { --space-between-desktop: 230px; }
    .swiper[swiperSpaceBetweenDesktop="240"] { --space-between-desktop: 240px; }
    .swiper[swiperSpaceBetweenDesktop="250"] { --space-between-desktop: 250px; }
    .swiper[swiperSpaceBetweenDesktop="260"] { --space-between-desktop: 260px; }
    .swiper[swiperSpaceBetweenDesktop="270"] { --space-between-desktop: 270px; }
    .swiper[swiperSpaceBetweenDesktop="280"] { --space-between-desktop: 280px; }
    .swiper[swiperSpaceBetweenDesktop="290"] { --space-between-desktop: 290px; }
    .swiper[swiperSpaceBetweenDesktop="300"] { --space-between-desktop: 300px; }
    .swiper[swiperSpaceBetweenDesktop="310"] { --space-between-desktop: 310px; }
    .swiper[swiperSpaceBetweenDesktop="320"] { --space-between-desktop: 320px; }
    .swiper[swiperSpaceBetweenDesktop="330"] { --space-between-desktop: 330px; }
    .swiper[swiperSpaceBetweenDesktop="340"] { --space-between-desktop: 340px; }
    .swiper[swiperSpaceBetweenDesktop="350"] { --space-between-desktop: 350px; }
    .swiper[swiperSpaceBetweenDesktop="360"] { --space-between-desktop: 360px; }
    .swiper[swiperSpaceBetweenDesktop="370"] { --space-between-desktop: 370px; }
    .swiper[swiperSpaceBetweenDesktop="380"] { --space-between-desktop: 380px; }
    .swiper[swiperSpaceBetweenDesktop="390"] { --space-between-desktop: 390px; }
    .swiper[swiperSpaceBetweenDesktop="400"] { --space-between-desktop: 400px; }
    .swiper[swiperSpaceBetweenDesktop="410"] { --space-between-desktop: 410px; }
    .swiper[swiperSpaceBetweenDesktop="420"] { --space-between-desktop: 420px; }
    .swiper[swiperSpaceBetweenDesktop="430"] { --space-between-desktop: 430px; }
    .swiper[swiperSpaceBetweenDesktop="440"] { --space-between-desktop: 440px; }
    .swiper[swiperSpaceBetweenDesktop="450"] { --space-between-desktop: 450px; }
    .swiper[swiperSpaceBetweenDesktop="460"] { --space-between-desktop: 460px; }
    .swiper[swiperSpaceBetweenDesktop="470"] { --space-between-desktop: 470px; }
    .swiper[swiperSpaceBetweenDesktop="480"] { --space-between-desktop: 480px; }
    .swiper[swiperSpaceBetweenDesktop="490"] { --space-between-desktop: 490px; }
    .swiper[swiperSpaceBetweenDesktop="500"] { --space-between-desktop: 500px; }
  
    .swiper[swiperSlidesPerViewDesktop] .swiper-wrapper { gap: var(--space-between-desktop); }
    .swiper[swiperSlidesPerViewDesktop="1"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 0)) / 1) !important; }
    .swiper[swiperSlidesPerViewDesktop="2"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 1)) / 2) !important; }
    .swiper[swiperSlidesPerViewDesktop="3"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 2)) / 3) !important; }
    .swiper[swiperSlidesPerViewDesktop="4"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 3)) / 4) !important; }
    .swiper[swiperSlidesPerViewDesktop="5"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 4)) / 5) !important; }
    .swiper[swiperSlidesPerViewDesktop="6"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 5)) / 6) !important; }
    .swiper[swiperSlidesPerViewDesktop="7"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 6)) / 7) !important; }
    .swiper[swiperSlidesPerViewDesktop="8"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 7)) / 8) !important; }
    .swiper[swiperSlidesPerViewDesktop="9"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 8)) / 9) !important; }
    .swiper[swiperSlidesPerViewDesktop="10"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 9)) / 10) !important; }
    .swiper[swiperSlidesPerViewDesktop="11"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 10)) / 11) !important; }
    .swiper[swiperSlidesPerViewDesktop="12"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 11)) / 12) !important; }
    .swiper[swiperSlidesPerViewDesktop="13"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 12)) / 13) !important; }
    .swiper[swiperSlidesPerViewDesktop="14"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 13)) / 14) !important; }
    .swiper[swiperSlidesPerViewDesktop="15"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 14)) / 15) !important; }
    .swiper[swiperSlidesPerViewDesktop="16"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 15)) / 16) !important; }
    .swiper[swiperSlidesPerViewDesktop="17"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 16)) / 17) !important; }
    .swiper[swiperSlidesPerViewDesktop="18"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 17)) / 18) !important; }
    .swiper[swiperSlidesPerViewDesktop="19"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 18)) / 19) !important; }
    .swiper[swiperSlidesPerViewDesktop="20"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-desktop) * 19)) / 20) !important; }
  
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .swiper[swiperSpaceBetweenTablet="0"] { --space-between-tablet: 0px; }
    .swiper[swiperSpaceBetweenTablet="1"] { --space-between-tablet: 1px; }
    .swiper[swiperSpaceBetweenTablet="2"] { --space-between-tablet: 2px; }
    .swiper[swiperSpaceBetweenTablet="3"] { --space-between-tablet: 3px; }
    .swiper[swiperSpaceBetweenTablet="4"] { --space-between-tablet: 4px; }
    .swiper[swiperSpaceBetweenTablet="5"] { --space-between-tablet: 5px; }
    .swiper[swiperSpaceBetweenTablet="6"] { --space-between-tablet: 6px; }
    .swiper[swiperSpaceBetweenTablet="7"] { --space-between-tablet: 7px; }
    .swiper[swiperSpaceBetweenTablet="8"] { --space-between-tablet: 8px; }
    .swiper[swiperSpaceBetweenTablet="9"] { --space-between-tablet: 9px; }
    .swiper[swiperSpaceBetweenTablet="10"] { --space-between-tablet: 10px; }
    .swiper[swiperSpaceBetweenTablet="11"] { --space-between-tablet: 11px; }
    .swiper[swiperSpaceBetweenTablet="12"] { --space-between-tablet: 12px; }
    .swiper[swiperSpaceBetweenTablet="13"] { --space-between-tablet: 13px; }
    .swiper[swiperSpaceBetweenTablet="14"] { --space-between-tablet: 14px; }
    .swiper[swiperSpaceBetweenTablet="15"] { --space-between-tablet: 15px; }
    .swiper[swiperSpaceBetweenTablet="16"] { --space-between-tablet: 16px; }
    .swiper[swiperSpaceBetweenTablet="17"] { --space-between-tablet: 17px; }
    .swiper[swiperSpaceBetweenTablet="18"] { --space-between-tablet: 18px; }
    .swiper[swiperSpaceBetweenTablet="19"] { --space-between-tablet: 19px; }
    .swiper[swiperSpaceBetweenTablet="20"] { --space-between-tablet: 20px; }
    .swiper[swiperSpaceBetweenTablet="20"] { --space-between-tablet: 20px; }
    .swiper[swiperSpaceBetweenTablet="25"] { --space-between-tablet: 25px; }
    .swiper[swiperSpaceBetweenTablet="30"] { --space-between-tablet: 30px; }
    .swiper[swiperSpaceBetweenTablet="35"] { --space-between-tablet: 35px; }
    .swiper[swiperSpaceBetweenTablet="40"] { --space-between-tablet: 40px; }
    .swiper[swiperSpaceBetweenTablet="45"] { --space-between-tablet: 45px; }
    .swiper[swiperSpaceBetweenTablet="50"] { --space-between-tablet: 50px; }
    .swiper[swiperSpaceBetweenTablet="55"] { --space-between-tablet: 55px; }
    .swiper[swiperSpaceBetweenTablet="60"] { --space-between-tablet: 60px; }
    .swiper[swiperSpaceBetweenTablet="65"] { --space-between-tablet: 65px; }
    .swiper[swiperSpaceBetweenTablet="70"] { --space-between-tablet: 70px; }
    .swiper[swiperSpaceBetweenTablet="75"] { --space-between-tablet: 75px; }
    .swiper[swiperSpaceBetweenTablet="80"] { --space-between-tablet: 80px; }
    .swiper[swiperSpaceBetweenTablet="85"] { --space-between-tablet: 85px; }
    .swiper[swiperSpaceBetweenTablet="90"] { --space-between-tablet: 90px; }
    .swiper[swiperSpaceBetweenTablet="95"] { --space-between-tablet: 95px; }
    .swiper[swiperSpaceBetweenTablet="100"] { --space-between-tablet: 100px; }
    .swiper[swiperSpaceBetweenTablet="100"] { --space-between-tablet: 100px; }
    .swiper[swiperSpaceBetweenTablet="110"] { --space-between-tablet: 110px; }
    .swiper[swiperSpaceBetweenTablet="120"] { --space-between-tablet: 120px; }
    .swiper[swiperSpaceBetweenTablet="130"] { --space-between-tablet: 130px; }
    .swiper[swiperSpaceBetweenTablet="140"] { --space-between-tablet: 140px; }
    .swiper[swiperSpaceBetweenTablet="150"] { --space-between-tablet: 150px; }
    .swiper[swiperSpaceBetweenTablet="160"] { --space-between-tablet: 160px; }
    .swiper[swiperSpaceBetweenTablet="170"] { --space-between-tablet: 170px; }
    .swiper[swiperSpaceBetweenTablet="180"] { --space-between-tablet: 180px; }
    .swiper[swiperSpaceBetweenTablet="190"] { --space-between-tablet: 190px; }
    .swiper[swiperSpaceBetweenTablet="200"] { --space-between-tablet: 200px; }
    .swiper[swiperSpaceBetweenTablet="210"] { --space-between-tablet: 210px; }
    .swiper[swiperSpaceBetweenTablet="220"] { --space-between-tablet: 220px; }
    .swiper[swiperSpaceBetweenTablet="230"] { --space-between-tablet: 230px; }
    .swiper[swiperSpaceBetweenTablet="240"] { --space-between-tablet: 240px; }
    .swiper[swiperSpaceBetweenTablet="250"] { --space-between-tablet: 250px; }
    .swiper[swiperSpaceBetweenTablet="260"] { --space-between-tablet: 260px; }
    .swiper[swiperSpaceBetweenTablet="270"] { --space-between-tablet: 270px; }
    .swiper[swiperSpaceBetweenTablet="280"] { --space-between-tablet: 280px; }
    .swiper[swiperSpaceBetweenTablet="290"] { --space-between-tablet: 290px; }
    .swiper[swiperSpaceBetweenTablet="300"] { --space-between-tablet: 300px; }
    .swiper[swiperSpaceBetweenTablet="310"] { --space-between-tablet: 310px; }
    .swiper[swiperSpaceBetweenTablet="320"] { --space-between-tablet: 320px; }
    .swiper[swiperSpaceBetweenTablet="330"] { --space-between-tablet: 330px; }
    .swiper[swiperSpaceBetweenTablet="340"] { --space-between-tablet: 340px; }
    .swiper[swiperSpaceBetweenTablet="350"] { --space-between-tablet: 350px; }
    .swiper[swiperSpaceBetweenTablet="360"] { --space-between-tablet: 360px; }
    .swiper[swiperSpaceBetweenTablet="370"] { --space-between-tablet: 370px; }
    .swiper[swiperSpaceBetweenTablet="380"] { --space-between-tablet: 380px; }
    .swiper[swiperSpaceBetweenTablet="390"] { --space-between-tablet: 390px; }
    .swiper[swiperSpaceBetweenTablet="400"] { --space-between-tablet: 400px; }
    .swiper[swiperSpaceBetweenTablet="410"] { --space-between-tablet: 410px; }
    .swiper[swiperSpaceBetweenTablet="420"] { --space-between-tablet: 420px; }
    .swiper[swiperSpaceBetweenTablet="430"] { --space-between-tablet: 430px; }
    .swiper[swiperSpaceBetweenTablet="440"] { --space-between-tablet: 440px; }
    .swiper[swiperSpaceBetweenTablet="450"] { --space-between-tablet: 450px; }
    .swiper[swiperSpaceBetweenTablet="460"] { --space-between-tablet: 460px; }
    .swiper[swiperSpaceBetweenTablet="470"] { --space-between-tablet: 470px; }
    .swiper[swiperSpaceBetweenTablet="480"] { --space-between-tablet: 480px; }
    .swiper[swiperSpaceBetweenTablet="490"] { --space-between-tablet: 490px; }
    .swiper[swiperSpaceBetweenTablet="500"] { --space-between-tablet: 500px; }
  
    .swiper[swiperSlidesPerViewTablet] .swiper-wrapper { gap: var(--space-between-tablet); }
    .swiper[swiperSlidesPerViewTablet="1"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 0)) / 1) !important; }
    .swiper[swiperSlidesPerViewTablet="2"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 1)) / 2) !important; }
    .swiper[swiperSlidesPerViewTablet="3"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 2)) / 3) !important; }
    .swiper[swiperSlidesPerViewTablet="4"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 3)) / 4) !important; }
    .swiper[swiperSlidesPerViewTablet="5"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 4)) / 5) !important; }
    .swiper[swiperSlidesPerViewTablet="6"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 5)) / 6) !important; }
    .swiper[swiperSlidesPerViewTablet="7"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 6)) / 7) !important; }
    .swiper[swiperSlidesPerViewTablet="8"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 7)) / 8) !important; }
    .swiper[swiperSlidesPerViewTablet="9"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 8)) / 9) !important; }
    .swiper[swiperSlidesPerViewTablet="10"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 9)) / 10) !important; }
    .swiper[swiperSlidesPerViewTablet="11"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 10)) / 11) !important; }
    .swiper[swiperSlidesPerViewTablet="12"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 11)) / 12) !important; }
    .swiper[swiperSlidesPerViewTablet="13"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 12)) / 13) !important; }
    .swiper[swiperSlidesPerViewTablet="14"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 13)) / 14) !important; }
    .swiper[swiperSlidesPerViewTablet="15"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 14)) / 15) !important; }
    .swiper[swiperSlidesPerViewTablet="16"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 15)) / 16) !important; }
    .swiper[swiperSlidesPerViewTablet="17"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 16)) / 17) !important; }
    .swiper[swiperSlidesPerViewTablet="18"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 17)) / 18) !important; }
    .swiper[swiperSlidesPerViewTablet="19"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 18)) / 19) !important; }
    .swiper[swiperSlidesPerViewTablet="20"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-tablet) * 19)) / 20) !important; }
  
  }
  
  @media (min-width: 480px) and (max-width: 767px) {
    .swiper[swiperSpaceBetweenMobileLandscape="0"] { --space-between-mobile-landscape: 0px; }
    .swiper[swiperSpaceBetweenMobileLandscape="1"] { --space-between-mobile-landscape: 1px; }
    .swiper[swiperSpaceBetweenMobileLandscape="2"] { --space-between-mobile-landscape: 2px; }
    .swiper[swiperSpaceBetweenMobileLandscape="3"] { --space-between-mobile-landscape: 3px; }
    .swiper[swiperSpaceBetweenMobileLandscape="4"] { --space-between-mobile-landscape: 4px; }
    .swiper[swiperSpaceBetweenMobileLandscape="5"] { --space-between-mobile-landscape: 5px; }
    .swiper[swiperSpaceBetweenMobileLandscape="6"] { --space-between-mobile-landscape: 6px; }
    .swiper[swiperSpaceBetweenMobileLandscape="7"] { --space-between-mobile-landscape: 7px; }
    .swiper[swiperSpaceBetweenMobileLandscape="8"] { --space-between-mobile-landscape: 8px; }
    .swiper[swiperSpaceBetweenMobileLandscape="9"] { --space-between-mobile-landscape: 9px; }
    .swiper[swiperSpaceBetweenMobileLandscape="10"] { --space-between-mobile-landscape: 10px; }
    .swiper[swiperSpaceBetweenMobileLandscape="11"] { --space-between-mobile-landscape: 11px; }
    .swiper[swiperSpaceBetweenMobileLandscape="12"] { --space-between-mobile-landscape: 12px; }
    .swiper[swiperSpaceBetweenMobileLandscape="13"] { --space-between-mobile-landscape: 13px; }
    .swiper[swiperSpaceBetweenMobileLandscape="14"] { --space-between-mobile-landscape: 14px; }
    .swiper[swiperSpaceBetweenMobileLandscape="15"] { --space-between-mobile-landscape: 15px; }
    .swiper[swiperSpaceBetweenMobileLandscape="16"] { --space-between-mobile-landscape: 16px; }
    .swiper[swiperSpaceBetweenMobileLandscape="17"] { --space-between-mobile-landscape: 17px; }
    .swiper[swiperSpaceBetweenMobileLandscape="18"] { --space-between-mobile-landscape: 18px; }
    .swiper[swiperSpaceBetweenMobileLandscape="19"] { --space-between-mobile-landscape: 19px; }
    .swiper[swiperSpaceBetweenMobileLandscape="20"] { --space-between-mobile-landscape: 20px; }
    .swiper[swiperSpaceBetweenMobileLandscape="20"] { --space-between-mobile-landscape: 20px; }
    .swiper[swiperSpaceBetweenMobileLandscape="25"] { --space-between-mobile-landscape: 25px; }
    .swiper[swiperSpaceBetweenMobileLandscape="30"] { --space-between-mobile-landscape: 30px; }
    .swiper[swiperSpaceBetweenMobileLandscape="35"] { --space-between-mobile-landscape: 35px; }
    .swiper[swiperSpaceBetweenMobileLandscape="40"] { --space-between-mobile-landscape: 40px; }
    .swiper[swiperSpaceBetweenMobileLandscape="45"] { --space-between-mobile-landscape: 45px; }
    .swiper[swiperSpaceBetweenMobileLandscape="50"] { --space-between-mobile-landscape: 50px; }
    .swiper[swiperSpaceBetweenMobileLandscape="55"] { --space-between-mobile-landscape: 55px; }
    .swiper[swiperSpaceBetweenMobileLandscape="60"] { --space-between-mobile-landscape: 60px; }
    .swiper[swiperSpaceBetweenMobileLandscape="65"] { --space-between-mobile-landscape: 65px; }
    .swiper[swiperSpaceBetweenMobileLandscape="70"] { --space-between-mobile-landscape: 70px; }
    .swiper[swiperSpaceBetweenMobileLandscape="75"] { --space-between-mobile-landscape: 75px; }
    .swiper[swiperSpaceBetweenMobileLandscape="80"] { --space-between-mobile-landscape: 80px; }
    .swiper[swiperSpaceBetweenMobileLandscape="85"] { --space-between-mobile-landscape: 85px; }
    .swiper[swiperSpaceBetweenMobileLandscape="90"] { --space-between-mobile-landscape: 90px; }
    .swiper[swiperSpaceBetweenMobileLandscape="95"] { --space-between-mobile-landscape: 95px; }
    .swiper[swiperSpaceBetweenMobileLandscape="100"] { --space-between-mobile-landscape: 100px; }
    .swiper[swiperSpaceBetweenMobileLandscape="100"] { --space-between-mobile-landscape: 100px; }
    .swiper[swiperSpaceBetweenMobileLandscape="110"] { --space-between-mobile-landscape: 110px; }
    .swiper[swiperSpaceBetweenMobileLandscape="120"] { --space-between-mobile-landscape: 120px; }
    .swiper[swiperSpaceBetweenMobileLandscape="130"] { --space-between-mobile-landscape: 130px; }
    .swiper[swiperSpaceBetweenMobileLandscape="140"] { --space-between-mobile-landscape: 140px; }
    .swiper[swiperSpaceBetweenMobileLandscape="150"] { --space-between-mobile-landscape: 150px; }
    .swiper[swiperSpaceBetweenMobileLandscape="160"] { --space-between-mobile-landscape: 160px; }
    .swiper[swiperSpaceBetweenMobileLandscape="170"] { --space-between-mobile-landscape: 170px; }
    .swiper[swiperSpaceBetweenMobileLandscape="180"] { --space-between-mobile-landscape: 180px; }
    .swiper[swiperSpaceBetweenMobileLandscape="190"] { --space-between-mobile-landscape: 190px; }
    .swiper[swiperSpaceBetweenMobileLandscape="200"] { --space-between-mobile-landscape: 200px; }
    .swiper[swiperSpaceBetweenMobileLandscape="210"] { --space-between-mobile-landscape: 210px; }
    .swiper[swiperSpaceBetweenMobileLandscape="220"] { --space-between-mobile-landscape: 220px; }
    .swiper[swiperSpaceBetweenMobileLandscape="230"] { --space-between-mobile-landscape: 230px; }
    .swiper[swiperSpaceBetweenMobileLandscape="240"] { --space-between-mobile-landscape: 240px; }
    .swiper[swiperSpaceBetweenMobileLandscape="250"] { --space-between-mobile-landscape: 250px; }
    .swiper[swiperSpaceBetweenMobileLandscape="260"] { --space-between-mobile-landscape: 260px; }
    .swiper[swiperSpaceBetweenMobileLandscape="270"] { --space-between-mobile-landscape: 270px; }
    .swiper[swiperSpaceBetweenMobileLandscape="280"] { --space-between-mobile-landscape: 280px; }
    .swiper[swiperSpaceBetweenMobileLandscape="290"] { --space-between-mobile-landscape: 290px; }
    .swiper[swiperSpaceBetweenMobileLandscape="300"] { --space-between-mobile-landscape: 300px; }
    .swiper[swiperSpaceBetweenMobileLandscape="310"] { --space-between-mobile-landscape: 310px; }
    .swiper[swiperSpaceBetweenMobileLandscape="320"] { --space-between-mobile-landscape: 320px; }
    .swiper[swiperSpaceBetweenMobileLandscape="330"] { --space-between-mobile-landscape: 330px; }
    .swiper[swiperSpaceBetweenMobileLandscape="340"] { --space-between-mobile-landscape: 340px; }
    .swiper[swiperSpaceBetweenMobileLandscape="350"] { --space-between-mobile-landscape: 350px; }
    .swiper[swiperSpaceBetweenMobileLandscape="360"] { --space-between-mobile-landscape: 360px; }
    .swiper[swiperSpaceBetweenMobileLandscape="370"] { --space-between-mobile-landscape: 370px; }
    .swiper[swiperSpaceBetweenMobileLandscape="380"] { --space-between-mobile-landscape: 380px; }
    .swiper[swiperSpaceBetweenMobileLandscape="390"] { --space-between-mobile-landscape: 390px; }
    .swiper[swiperSpaceBetweenMobileLandscape="400"] { --space-between-mobile-landscape: 400px; }
    .swiper[swiperSpaceBetweenMobileLandscape="410"] { --space-between-mobile-landscape: 410px; }
    .swiper[swiperSpaceBetweenMobileLandscape="420"] { --space-between-mobile-landscape: 420px; }
    .swiper[swiperSpaceBetweenMobileLandscape="430"] { --space-between-mobile-landscape: 430px; }
    .swiper[swiperSpaceBetweenMobileLandscape="440"] { --space-between-mobile-landscape: 440px; }
    .swiper[swiperSpaceBetweenMobileLandscape="450"] { --space-between-mobile-landscape: 450px; }
    .swiper[swiperSpaceBetweenMobileLandscape="460"] { --space-between-mobile-landscape: 460px; }
    .swiper[swiperSpaceBetweenMobileLandscape="470"] { --space-between-mobile-landscape: 470px; }
    .swiper[swiperSpaceBetweenMobileLandscape="480"] { --space-between-mobile-landscape: 480px; }
    .swiper[swiperSpaceBetweenMobileLandscape="490"] { --space-between-mobile-landscape: 490px; }
    .swiper[swiperSpaceBetweenMobileLandscape="500"] { --space-between-mobile-landscape: 500px; }
  
    .swiper[swiperSlidesPerViewMobileLandscape] .swiper-wrapper { gap: var(--space-between-mobile-landscape); }
    .swiper[swiperSlidesPerViewMobileLandscape="1"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 0)) / 1) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="2"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 1)) / 2) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="3"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 2)) / 3) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="4"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 3)) / 4) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="5"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 4)) / 5) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="6"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 5)) / 6) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="7"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 6)) / 7) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="8"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 7)) / 8) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="9"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 8)) / 9) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="10"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 9)) / 10) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="11"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 10)) / 11) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="12"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 11)) / 12) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="13"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 12)) / 13) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="14"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 13)) / 14) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="15"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 14)) / 15) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="16"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 15)) / 16) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="17"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 16)) / 17) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="18"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 17)) / 18) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="19"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 18)) / 19) !important; }
    .swiper[swiperSlidesPerViewMobileLandscape="20"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-landscape) * 19)) / 20) !important; }
  
  }
  
  @media (max-width: 479px) {
    .swiper[swiperSpaceBetweenMobilePortrait="0"] { --space-between-mobile-portrait: 0px; }
    .swiper[swiperSpaceBetweenMobilePortrait="1"] { --space-between-mobile-portrait: 1px; }
    .swiper[swiperSpaceBetweenMobilePortrait="2"] { --space-between-mobile-portrait: 2px; }
    .swiper[swiperSpaceBetweenMobilePortrait="3"] { --space-between-mobile-portrait: 3px; }
    .swiper[swiperSpaceBetweenMobilePortrait="4"] { --space-between-mobile-portrait: 4px; }
    .swiper[swiperSpaceBetweenMobilePortrait="5"] { --space-between-mobile-portrait: 5px; }
    .swiper[swiperSpaceBetweenMobilePortrait="6"] { --space-between-mobile-portrait: 6px; }
    .swiper[swiperSpaceBetweenMobilePortrait="7"] { --space-between-mobile-portrait: 7px; }
    .swiper[swiperSpaceBetweenMobilePortrait="8"] { --space-between-mobile-portrait: 8px; }
    .swiper[swiperSpaceBetweenMobilePortrait="9"] { --space-between-mobile-portrait: 9px; }
    .swiper[swiperSpaceBetweenMobilePortrait="10"] { --space-between-mobile-portrait: 10px; }
    .swiper[swiperSpaceBetweenMobilePortrait="11"] { --space-between-mobile-portrait: 11px; }
    .swiper[swiperSpaceBetweenMobilePortrait="12"] { --space-between-mobile-portrait: 12px; }
    .swiper[swiperSpaceBetweenMobilePortrait="13"] { --space-between-mobile-portrait: 13px; }
    .swiper[swiperSpaceBetweenMobilePortrait="14"] { --space-between-mobile-portrait: 14px; }
    .swiper[swiperSpaceBetweenMobilePortrait="15"] { --space-between-mobile-portrait: 15px; }
    .swiper[swiperSpaceBetweenMobilePortrait="16"] { --space-between-mobile-portrait: 16px; }
    .swiper[swiperSpaceBetweenMobilePortrait="17"] { --space-between-mobile-portrait: 17px; }
    .swiper[swiperSpaceBetweenMobilePortrait="18"] { --space-between-mobile-portrait: 18px; }
    .swiper[swiperSpaceBetweenMobilePortrait="19"] { --space-between-mobile-portrait: 19px; }
    .swiper[swiperSpaceBetweenMobilePortrait="20"] { --space-between-mobile-portrait: 20px; }
    .swiper[swiperSpaceBetweenMobilePortrait="20"] { --space-between-mobile-portrait: 20px; }
    .swiper[swiperSpaceBetweenMobilePortrait="25"] { --space-between-mobile-portrait: 25px; }
    .swiper[swiperSpaceBetweenMobilePortrait="30"] { --space-between-mobile-portrait: 30px; }
    .swiper[swiperSpaceBetweenMobilePortrait="35"] { --space-between-mobile-portrait: 35px; }
    .swiper[swiperSpaceBetweenMobilePortrait="40"] { --space-between-mobile-portrait: 40px; }
    .swiper[swiperSpaceBetweenMobilePortrait="45"] { --space-between-mobile-portrait: 45px; }
    .swiper[swiperSpaceBetweenMobilePortrait="50"] { --space-between-mobile-portrait: 50px; }
    .swiper[swiperSpaceBetweenMobilePortrait="55"] { --space-between-mobile-portrait: 55px; }
    .swiper[swiperSpaceBetweenMobilePortrait="60"] { --space-between-mobile-portrait: 60px; }
    .swiper[swiperSpaceBetweenMobilePortrait="65"] { --space-between-mobile-portrait: 65px; }
    .swiper[swiperSpaceBetweenMobilePortrait="70"] { --space-between-mobile-portrait: 70px; }
    .swiper[swiperSpaceBetweenMobilePortrait="75"] { --space-between-mobile-portrait: 75px; }
    .swiper[swiperSpaceBetweenMobilePortrait="80"] { --space-between-mobile-portrait: 80px; }
    .swiper[swiperSpaceBetweenMobilePortrait="85"] { --space-between-mobile-portrait: 85px; }
    .swiper[swiperSpaceBetweenMobilePortrait="90"] { --space-between-mobile-portrait: 90px; }
    .swiper[swiperSpaceBetweenMobilePortrait="95"] { --space-between-mobile-portrait: 95px; }
    .swiper[swiperSpaceBetweenMobilePortrait="100"] { --space-between-mobile-portrait: 100px; }
    .swiper[swiperSpaceBetweenMobilePortrait="100"] { --space-between-mobile-portrait: 100px; }
    .swiper[swiperSpaceBetweenMobilePortrait="110"] { --space-between-mobile-portrait: 110px; }
    .swiper[swiperSpaceBetweenMobilePortrait="120"] { --space-between-mobile-portrait: 120px; }
    .swiper[swiperSpaceBetweenMobilePortrait="130"] { --space-between-mobile-portrait: 130px; }
    .swiper[swiperSpaceBetweenMobilePortrait="140"] { --space-between-mobile-portrait: 140px; }
    .swiper[swiperSpaceBetweenMobilePortrait="150"] { --space-between-mobile-portrait: 150px; }
    .swiper[swiperSpaceBetweenMobilePortrait="160"] { --space-between-mobile-portrait: 160px; }
    .swiper[swiperSpaceBetweenMobilePortrait="170"] { --space-between-mobile-portrait: 170px; }
    .swiper[swiperSpaceBetweenMobilePortrait="180"] { --space-between-mobile-portrait: 180px; }
    .swiper[swiperSpaceBetweenMobilePortrait="190"] { --space-between-mobile-portrait: 190px; }
    .swiper[swiperSpaceBetweenMobilePortrait="200"] { --space-between-mobile-portrait: 200px; }
    .swiper[swiperSpaceBetweenMobilePortrait="210"] { --space-between-mobile-portrait: 210px; }
    .swiper[swiperSpaceBetweenMobilePortrait="220"] { --space-between-mobile-portrait: 220px; }
    .swiper[swiperSpaceBetweenMobilePortrait="230"] { --space-between-mobile-portrait: 230px; }
    .swiper[swiperSpaceBetweenMobilePortrait="240"] { --space-between-mobile-portrait: 240px; }
    .swiper[swiperSpaceBetweenMobilePortrait="250"] { --space-between-mobile-portrait: 250px; }
    .swiper[swiperSpaceBetweenMobilePortrait="260"] { --space-between-mobile-portrait: 260px; }
    .swiper[swiperSpaceBetweenMobilePortrait="270"] { --space-between-mobile-portrait: 270px; }
    .swiper[swiperSpaceBetweenMobilePortrait="280"] { --space-between-mobile-portrait: 280px; }
    .swiper[swiperSpaceBetweenMobilePortrait="290"] { --space-between-mobile-portrait: 290px; }
    .swiper[swiperSpaceBetweenMobilePortrait="300"] { --space-between-mobile-portrait: 300px; }
    .swiper[swiperSpaceBetweenMobilePortrait="310"] { --space-between-mobile-portrait: 310px; }
    .swiper[swiperSpaceBetweenMobilePortrait="320"] { --space-between-mobile-portrait: 320px; }
    .swiper[swiperSpaceBetweenMobilePortrait="330"] { --space-between-mobile-portrait: 330px; }
    .swiper[swiperSpaceBetweenMobilePortrait="340"] { --space-between-mobile-portrait: 340px; }
    .swiper[swiperSpaceBetweenMobilePortrait="350"] { --space-between-mobile-portrait: 350px; }
    .swiper[swiperSpaceBetweenMobilePortrait="360"] { --space-between-mobile-portrait: 360px; }
    .swiper[swiperSpaceBetweenMobilePortrait="370"] { --space-between-mobile-portrait: 370px; }
    .swiper[swiperSpaceBetweenMobilePortrait="380"] { --space-between-mobile-portrait: 380px; }
    .swiper[swiperSpaceBetweenMobilePortrait="390"] { --space-between-mobile-portrait: 390px; }
    .swiper[swiperSpaceBetweenMobilePortrait="400"] { --space-between-mobile-portrait: 400px; }
    .swiper[swiperSpaceBetweenMobilePortrait="410"] { --space-between-mobile-portrait: 410px; }
    .swiper[swiperSpaceBetweenMobilePortrait="420"] { --space-between-mobile-portrait: 420px; }
    .swiper[swiperSpaceBetweenMobilePortrait="430"] { --space-between-mobile-portrait: 430px; }
    .swiper[swiperSpaceBetweenMobilePortrait="440"] { --space-between-mobile-portrait: 440px; }
    .swiper[swiperSpaceBetweenMobilePortrait="450"] { --space-between-mobile-portrait: 450px; }
    .swiper[swiperSpaceBetweenMobilePortrait="460"] { --space-between-mobile-portrait: 460px; }
    .swiper[swiperSpaceBetweenMobilePortrait="470"] { --space-between-mobile-portrait: 470px; }
    .swiper[swiperSpaceBetweenMobilePortrait="480"] { --space-between-mobile-portrait: 480px; }
    .swiper[swiperSpaceBetweenMobilePortrait="490"] { --space-between-mobile-portrait: 490px; }
    .swiper[swiperSpaceBetweenMobilePortrait="500"] { --space-between-mobile-portrait: 500px; }
  
    .swiper[swiperSlidesPerViewMobilePortrait] .swiper-wrapper { gap: var(--space-between-mobile-portrait); }
    .swiper[swiperSlidesPerViewMobilePortrait="1"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 0)) / 1) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="2"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 1)) / 2) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="3"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 2)) / 3) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="4"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 3)) / 4) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="5"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 4)) / 5) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="6"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 5)) / 6) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="7"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 6)) / 7) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="8"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 7)) / 8) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="9"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 8)) / 9) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="10"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 9)) / 10) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="11"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 10)) / 11) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="12"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 11)) / 12) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="13"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 12)) / 13) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="14"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 13)) / 14) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="15"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 14)) / 15) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="16"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 15)) / 16) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="17"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 16)) / 17) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="18"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 17)) / 18) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="19"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 18)) / 19) !important; }
    .swiper[swiperSlidesPerViewMobilePortrait="20"] .swiper-slide { flex: 0 0 calc((100% - (var(--space-between-mobile-portrait) * 19)) / 20) !important; }
  
  }